* {
    box-sizing: border-box;
}

.flex, .layout {
    display: flex;
}

.drop {
    height: 100px;
    width: 100px;
    background: gold;
}

.metric:first-child {
    border-top: 1px solid black;
}

.metric {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 5px 10px;
    cursor: grab;
    width: 250px;
}

.margin-top {
    margin-top: 20px;
}

.margin-left {
    margin-left: 100px;
}

.body {
    padding: 0 10px;
}

.center {
    text-align: center;
    margin: auto;
}

.predict {
    width: 728px;
    padding-left: 40px;
}

.flex-space {
    display: flex;
    justify-content: space-between;
}

.left-text {
    text-align: left;
}

.login {
    margin: 20px auto;
    width: 250px;
}

